.add-button-container {
    height : 70px;
    width : 95%;
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-style: dashed;
    border-radius: 1rem;
    color: rgb(45,33,199);
    font-size: 1.5rem;
    background-color: rgb(233,234,241);
    cursor: pointer;
}