.form-name-container {
  width: 96%;
  height: 70px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:6px;
  font-size: 1rem;
  padding: 0.5rem;
}
