body.active-side-modal {
  overflow-y: hidden;
}

.side-modal,
.side-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.side-overlay {
  background: rgba(49, 49, 49, 0.8);
}
.side-modal-content {
  position: absolute;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 40%;
  height: 101%;
}

.close-side-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.side-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(80, 80, 80);
}

.side-modal-body {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: rgb(80, 80, 80);
  font-size: 1rem;
}

.side-modal-body > div > input {
  width: 96%;
  height: 40px;
  margin-top: 1rem;
  border-radius: 7px;
  border-color: rgb(80, 64, 200);
}

.side-modal-body > div > label {
  padding-top: 2rem;
}

.side-modal-body > div {
  display: flex;
  flex-direction: column;
}
.side-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.side-cancel {
  background: #f1f1f1;
  color: rgb(80, 80, 80);
  border: none;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: medium;
}

.side-create {
  background: rgb(80, 64, 200);
  color: #f1f1f1;
  border: 1px solid rgb(80, 64, 200);
  border-radius: 7px;
  padding: 1rem 4rem;
  cursor: pointer;
  margin-right: 1.5rem;
}
